{% extends 'shop/basic.html'%}
{% block title%} About Us{% endblock %}
{% block body%}<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Healthy Food</h1>
      <p>Healthy Food Pvt.Ltd is an Indian Food delivery Service based on Rohtak,Haryana. It was Founded by Rohan Pahwa in April,2020. The company focuses on Home Made food provided to the one who need it the most.   </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Healthy Food</h2>
        <p>Abc</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Add-Ons </h2>
        <p>Def </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Ready to cook</h2>
        <p>Maggie</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
 {% endblock %}
